{% include 'top.html' %}
<div class="content">
    <div class="container details">

        <!-- TODO Query (10) -->
        <!-- First check should be a valid instance -->
        <!-- Second check should be what type of genre? -->
        {% if type | length > 0 %}
          <table class="styled">
            <thead>
              <tr>
                <td>Item ID </td>
                <td>Item Title</td>        .
                <td>Item Type</td>
              </tr>
            </thead>
            <tbody>
              {% for instance in some_input_array %}
              <tr>
                <td style="text-align: center">{{ instance.single_item_target_id }}</td>
                <td>{{instance.item_id}}</td>
                <td>{{instance.item_title}}</td>
                <td>{{instance.media_type}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
            <h2 class="title"> Invalid Genre ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
