{% include 'top.html' %}
<div class="content">
    <div class="container details">
        {% if song | length > 0 %}
            <h2 class="title"> {{song[0].song_title}} by {{song[0].artists}}</h2>

            <!-- Check if We have a valid song -->
             <audio id="player"
                controls
                src="{{songmetadata[0].storage_location}}">
                Your browser does not support the audio element.
              </audio>
            </audio>

            {% if user['username'] | length > 0 %}
				<script>
                var audio = document.getElementById('player');
                audio.onloadedmetadata = function() {
                  audio.currentTime = audio.duration * {{progress}} / 100;
                };

                // Create event listener timeupdate
                document.getElementById('player').addEventListener('pause',updateProgress)
                
                function updateProgress() {

                  var currProgress = Math.round(audio.currentTime / audio.duration * 10000) / 100;
                  var userName = '{{user['username']}}';
                  var mediaId = '{{song[0].song_id}}';

                  console.log(userName);
                  console.log(mediaId);
                  console.log(currProgress);
                  $.post('/updateplayback', {
                    username: userName,
                    media_id: mediaId,
                    progress: currProgress
                  }).done(function(response) {
                    console.log("success");
                  }).fail(function() {
                    console.log("fail");
                 });     
                }
              </script>
            {% endif %}
            <br/>
            Song is {{song[0].length}} seconds long.
            <hr/>
            <h3> Artworks </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'artwork' %}

                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>

            <h3> Descriptions </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'description' %}

                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <!-- TODO - Query 10
            You will have to modify the approach below slightly to make each genre clickable
            -->
            <h3> Genres </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'song genre' %}
                <table>

                  <tbody>
                    <tr class="clickable-tr" data-href="{{ url_for('single_genre', genre_id=instance.md_value)}}">
                      <td>&nbsp&nbsp{{instance.md_value}}</td>
                    </tr>
                  </tbody>
                  </table>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2 class="title"> Invalid Song ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
